.popp_xl{
    font-family: $fuente_familia;
    font-size: 20px;
    color: map-get($colores, fuente_normal);
}
.popp_l{
    font-family: $fuente_familia;
    font-size: 17px;
    color: map-get($colores, fuente_normal);
}
.popp_m{
    font-family: $fuente_familia;
    font-size: 15px;
    color: map-get($colores, fuente_normal);
}
.popp_s{
    font-family: $fuente_familia;
    font-size: 13px;
    color: map-get($colores, fuente_normal);
    font-weight: 500;
}
.font_ital{
    font-style:italic;
    color: map-get($colores, fuente_ital);
    /*color: rgb(190, 190, 190);*/
}
.font_precio{
    /*color:rgb(249, 121, 121);*/
    color: map-get($colores, fuente_precio);
    font-weight: 600;
}
.font_espac1{
    line-height: 120%;
    margin-bottom: 0;
}
.font_espac2{
    line-height: 150%;
}