.titulos{
    grid-area: titulos;
    text-align: center;
}
.bkg_transp{
    background: map-get($colores, fondo_transp);
}
.section1{
    padding: 7px 7px 0px 7px;
    border-radius: $borde_redond;
}
.img_opac:hover {
	opacity: .8;
}
.img_sombra{
    box-shadow: 0 13px 27px -5px rgba(0, 0, 0, 0.25), 0 8px 16px -8px hsl(0deg, 0%, 0% / 30%), 0 -6px 16px -6px rgba(0, 0, 0, 0.03);
}
h1,h2{
    display: inline-block;
}
.gridBN {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%; 
    grid-template-rows: repeat(4, auto);
    grid-template-rows: 1fr 1fr 100fr 1fr;
    grid-row-gap: 5px;
    grid-template-areas:
        "encabezado"
        "titulos"
        "contenido"
        "pie";
        .contenido{
            grid-area: contenido;
            @extend .animacion;
                .fila{
                    display: flex;
                    justify-content: center;
                    align-items: flex-start; 
                    grid-column-gap: 1%;
                    row-gap: 5px;
                    flex-wrap: wrap;
                    padding-bottom: 5px;
                        .novs_iframe{
                            float: right;
                            margin-left: 5px;
                            width: 769px;
                            height: 432px;
                        }
                }
                .img_club{
                    float: right;
                    margin-left: 5px;
                }
        }
}
/* Cambios bootstrap*/
.card{
    background-color: transparent !important;
}
a:hover{
    color: map-get($colores, fuente_normal) !important;
}
/* Tamaño tablet */
@media (max-width:1024px){
    .gridBN {
        .contenido{
            .fila{
                .novs_iframe{
                    width: 461px;
                    height: 259px;
                }
            }
        }
    }
    /* Boostrap */
    .nav-item{
        padding-left: 5px !important;
    }
}
/* Tamaño celular */
@media (max-width:768px){
    .gridBN {
        .contenido{
            .fila{
                .novs_iframe{
                    width: 370px;
                    height: 208px;
                }
            }
            .img_club{
                float: unset;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
/* Tamaño XS */
@media (max-width:576px){
    .gridBN {
        .contenido{
            .fila{
                .novs_iframe{
                    float:unset;
                    width: 333px;
                    height: 187px;
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }
}