$colores:(
    fuente_normal: rgb(225, 225, 225),
    fuente_formu: #212529,
    fuente_autor: rgb(190, 190, 190),
    fuente_precio: rgb(249, 121, 121),
    fuente_pub: rgb(255, 255, 255),
    fondo_transp: rgba(0, 0, 0, 0.7),
    borde_card: rgba(0, 0, 0, 0.125),
    fondo_nav_item: rgba(88, 88, 88, 0.3),
)